    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3" *ngFor="let card of cards;let i = index">
        <div class="thumbnail"> 
            <div class="scene">
                <div class="card" [ngClass]="{isflipped: card.clickFlip === 'true'}">
                  <img 
                  class="card__face card__face--front "
                   (click)="onClick(i)" src="{{card.imageURL}}" />
                  <div class="card__face card__face--back text" (click)="onClick(i)"  [ngClass]="{card: card.clickFlip === 'true'}"><strong>{{card.content}}</strong></div>
                </div>
            </div>
        </div>
      </div>
    </div> 
  