
<div class="row">
  <div class="col-xl-8">
   <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group" *ngFor="let pairword of pairWords; let i = index">
      <div class="row" >
          <div class="col">
              <label for="word">Word</label>
              <input 
                type="text" 
                class="form-control" 
                id="word" 
                [(ngModel)]='pairword.ENword'
                ngModel
                name= word{{i}}
                required
                > 
            </div>
            <div class="col">
                <label for="translate">Translate</label> 
                <input 
                 type="text" 
                 class="form-control" 
                 id="translate" 
                 [(ngModel)]= 'pairword.HEword'
                 ngModel
                 name= translate{{i}} 
                 required
                 >
            </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!f.valid">Save All</button>
    <button type="button" class="btn btn-danger" (click)="onRemove(f)">Remove All</button>
  </form> 
  </div>
</div>